.a1 {
    padding: 12px;
    background-color: #b4caf1;
    margin-top: 24px;
    margin-bottom: 12px;
}

.a2 {
    padding: 12px;
    background-color: #f7bdaa;
}

.a2 table {
    background-color: #f9dcd3;
}

.a2 table th {
    background-color: crimson;
    color: white;
}

.a1 table {
    background-color: #d7e2f5;
}

.a1 table th {
    background-color: cornflowerblue;
    color: white;
}

.master {
    background-color: #d7e2f5;
}

.no-left-padding {
    padding-left: 0;
}

.a1-name {
    color:cornflowerblue;
}

.a2-name {
    color:crimson;
}